.prestation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
}

.prestation figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    overflow: hidden;
}

.prestation img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.prestation h3 {
    color: var(--secondary-color);
    margin: 10px 0;
    font-size: 18px;
    min-height: 2rem;
}

.prestation p {
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
}

@media screen and (min-width: 600px) {
    .prestation h3 {
        font-size: 20px;
    }

    .prestation p {
        font-size: 16px;
    }
}

@media screen and (min-width: 900px) {
    .prestation {
        max-width: 450px;
        gap: 15px;
    }

    .prestation figure {
        width: 90%;
    }

    .prestation h3 {
        font-size: 1.5rem;
    }

    .prestation p {
        font-size: 1.1rem;
    }
}