.container {
    background: #082f49;
    font-size: 15px;
}

.container footer {
    width: 90%;
    margin: auto;
}

.container a {
    color: var(--color-font);
}

.container section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 3px solid #ccc;
    padding: 15px 0;
}

.menuFooter {
    text-align: center
}

.menuFooter h4 {
    color: var(--color-font);
    border-bottom: 3px solid #ef4444;
    padding-bottom: 5px;
    margin-bottom: 10px
}

.menuFooter p {
    color: var(--color-font);
    margin-bottom: 10px
}

.titleFooter {
    color: var(--bg-par);
    text-align: center;
    font-size: 1.2em;
    padding: 15px 0;
}

@media screen and (max-width: 900px) {
    .menuFooter {
        width: 100%
    }
}

@media screen and (max-width: 600px) {
    .menuFooter h4 {
        border: none;
        color: #ef4444
    }
}