.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    text-align: center
}

.container section {
    max-width: 1200px;
    padding: 0 10px;
    width: 100vw;
}

.container h1 {
    font-size: 5rem;
    color: var(--color-font);
    text-shadow: var(--color-shadow-font)
}

.container h2 {
    font-weight: 300;
    font-size: 2.5rem;
    color: var(--color-font);
    text-shadow: var(--color-shadow-font)
}